<div id="footer">
    <p>All photos contained on this page displaying a Rookwood Studios watermark is Copyrighted - <a href="https://rookwoodstudio.webs.com/">Rookwood Studios</a> &copy; {{ site.time|date: "%Y" }}
    <br/>All other information and Media contained within this website is Copyrighted - <a href="{{ site.baseurl }}/contact/">{{ site.title }}</a> &copy; {{ site.time|date: "%Y" }} 
    <br/>We are a Not-for-Profit Organisation - <a href="https://www.facebook.com/groups/675317789211161">{% image footer fb-blue.png alt="Facebook" %}</a></p>
</div>
