<div id="header">
    <h1>M<span class="mobile">edieval</span> A<span class="mobile">rchery</span> S<span class="mobile">ociety</span>{% if page.title %}<span class="subheading"> - {{ page.title }}</span>{% endif %}</h1>
</div>

<div id="nav">
    <ul>
        <li>
            <a href="{{ site.baseurl }}/">About Us</a>
        </li>
    {% for page in site.pages %}
    {% if page.nav %}
        <li>
            <a href="{{ page.url | prepend: site.baseurl }}">{{ page.nav }}</a>
        </li>
    {% endif %}
    {% endfor %}
    </ul>
</div>
