<!-- Scripts -->

<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
<script src="/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/jquery.dropotron.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/jquery.scrolly.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/jquery.scrollgress.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/skel.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/skel-layers.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/init.js" type="text/javascript" charset="utf-8"></script>
{% if page.id == 'home' %}<script src="/js/landing-page.js" type="text/javascript" charset="utf-8"></script>{% endif %}
{% if page.title contains 'Gallery' %}<script src="/js/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/featherlight.gallery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/gallery.js" type="text/javascript" charset="utf-8"></script>{% endif %}
