<!-- Scripts -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.dropotron/1.4.3/jquery.dropotron.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/assets/js/jquery.scrolly.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/assets/js/jquery.scrollgress.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/assets/js/skel.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/assets/js/skel-layers.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/assets/js/init.js" type="text/javascript" charset="utf-8"></script>
{% if page.id == 'home' %}<script src="/assets/js/landing-page.js" type="text/javascript" charset="utf-8"></script>{% endif %}
{% if page.title contains 'Gallery' %}<script src="https://cdnjs.cloudflare.com/ajax/libs/featherlight/1.7.13/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/featherlight/1.7.13/featherlight.gallery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/assets/js/gallery.js" type="text/javascript" charset="utf-8"></script>{% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/vegas/2.4.4/vegas.min.js"></script>
