---
layout: infobar
id: gallery
---
    <article id="main">
        <header class="special container">
            <span class="icon fa-envelope"></span>
            <h2>MAS Gallery</h2>
            <p>Photos of MAS in action. You can also find more images on our <a href="{{ site.data.links.social.links['instagram'].url }}">{{ site.data.links.social.links['instagram'].name }}</a> page.</p>
        </header>

        <section class="wrapper style4 special container small">
            {% for gallery in page.galleries %}
            <div class="gallery-wrapper">
                <a href="{{ gallery['gallery'] }}">
                    <img class="gallery-best-image" src="{{ gallery['gallery'] }}/thumbs/{{ gallery['best_image'] }}">
                </a>
                <h3><a href="{{ gallery['gallery'] }}">{{ gallery["name"] }}</a></h3>
                {{ gallery["images"] | size }} image{% if gallery["images"].size != 1 %}s{% endif %}
            </div>
            {% endfor %}
        </section>
    </article>
